aws_region       = "us-east-1"
vpc_cidr         = "10.0.0.0/16"
instance_type    = "t2.micro"
allowed_ssh_cidr = "X.X.X.X/32"     # Reemplaza por tu IP pública /32
aws_key_name     = "mi-keypair"     # Debe existir en EC2 > Key Pairs (opcional)
# cheese_images = ["errm/cheese:wensleydale","errm/cheese:cheddar","errm/cheese:stilton"]