# REQ 1: Archivo de ejemplo .tfvars

# Entorno (dev o prod). Esto controlará el tipo de instancia.
environment = "dev"

# Tu IP pública para SSH (OBLIGATORIO)
allowed_ssh_cidr = "X.X.X.X/32"

# Nombre de tu Key Pair de AWS (Opcional, pero recomendado)
aws_key_name = "mi-keypair"

# Opcional: puedes sobreescribir la región o el CIDR
# aws_region = "us-east-1"
# vpc_cidr   = "10.0.0.0/16"